#save-btn,
#delete-product-btn {
  all: revert;
}
#add-btn,
#delete-product-btn,
#save-btn,
#cancel-btn {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  margin: 0 5px;
  font-size: 1.5rem;
  padding: 3px;
  border-radius: 5px;
}

#add-btn {
  background-color: rgba(128, 128, 128, 0.7);
  border: 2px solid rgb(128, 128, 128);
}
#add-btn:hover {
  background-color: rgb(128, 128, 128);
}
#delete-product-btn {
  background-color: rgba(255, 0, 0, 0.7);
  border: 2px solid rgb(255, 0, 0);
}
#delete-product-btn:hover {
  background-color: rgb(255, 0, 0);
}

#save-btn {
  background-color: rgba(0, 102, 255, 0.7);
  border: 2px solid rgb(0, 102, 255);
}
#save-btn:hover {
  background-color: rgb(0, 102, 255);
}
#cancel-btn {
  background-color: rgba(128, 128, 128, 0.7);
  border: 2px solid rgb(128, 128, 128);
}
#cancel-btn:hover {
  background-color: rgb(128, 128, 128);
}
