.product {
  display: inline-block;
  width: 22%;
  text-align: center;
  border: 1px solid grey;
  font-size: 1250%;
  margin: 2rem 1.75rem 2rem 1.75rem;
  overflow: auto;
}
.details {
  padding: 5px;
  margin: 0;
  font-weight: normal;
}
.inputbox {
  height: 1.75rem;
  width: 1.75rem;
  margin: 1.25rem 0 2rem 1rem;
}
.product h6:last-of-type {
  margin-bottom: 1.5rem;
}
.errors {
  font-size: 1.75rem;
  color: red;
}
