* {
  font-family: sans-serif;
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  background-color: rgba(255, 159, 159, 0.097);
}

.container {
  margin: auto;
  width: 80%;
}

.name,
.right {
  margin: 0.3rem 0;
}
.name {
  display: inline-block;
  font-size: 3rem;
  letter-spacing: -1px;
}
.right {
  float: right;
  padding: 3px;
}
form {
  display: inline;
}
.footer {
  position: fixed;

  bottom: 0%;
  left: 10%;
  line-height: 2;
  font-size: 1.25rem;
  text-align: center;
}

.from {
  font-size: 1.5rem;
  text-align: center;
}
label {
  display: inline-block;
  width: 5rem;
  font-size: 1.5rem;
  margin: 1rem 4rem 2rem 0;
  line-height: 2;
}
input {
  height: 3rem;
  width: 25rem;
  font-size: 2rem;
  border-radius: 3px;
  border: 1px solid grey;
  padding: 0.25rem 0.75rem;
  transition: border-color 0.15s, box-shadow 0.15s;
}
input:focus {
  border-color: rgba(0, 81, 255, 0.74);
  outline: 0;
  box-shadow: 0 0 0 1.5px rgba(0, 110, 255, 0.404);
}
#productType-display {
  display: inline-block;
  width: 12.5rem;
  font-size: 1.5rem;
  margin: 1rem 2rem 1rem 0;
  line-height: 2;
}
select {
  width: 20rem;
  height: 4rem;
  font-size: 2rem;
  border-radius: 3px;
  border: 1px solid grey;
  padding: 0.25rem 0.75rem;
}
optgroup {
  font-size: 1.5rem;
  color: rgba(128, 128, 128, 1);
}
option {
  font-size: 1.5rem;
  color: black;
}

#none {
  display: none;
}

.others {
  width: 12rem;
}

.information {
  width: 15rem;
}
h6 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.data {
  display: none;
}
